.afrique-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.afriqueafrique {
  width: 100%;
  height: 1205px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-quadruple);
  padding-left: var(--dl-layout-space-doubleunit);
  padding-right: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-quadruple);
  background-size: cover;
  justify-content: flex-start;
  background-image: url("https://images.unsplash.com/photo-1594450281353-5a7a067358cc?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDM0fHx3b3JsZCUyMG1hcHxlbnwwfHx8fDE3NTMyNzEwNDJ8MA&ixlib=rb-4.1.0&w=1500");
}
 
.afrique-text {
  align-self: flex-end;
  text-align: right;
}
 
.afrique-cards-container {
  width: auto;
  height: 1021px;
  display: flex;
  grid-gap: var(--dl-layout-space-doubleunit);
  flex-wrap: wrap;
  max-width: auto;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-doubleunit);
  align-items: flex-start;
  margin-left: 6em;
  padding-left: 0px;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  justify-content: space-between;
}
 
.afrique-navlink {
  display: contents;
}
 
.afrique-component1 {
  text-decoration: none;
}
 
.afrique-retour-mes-destinations {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
}
 
.afrique-retour-mes-destionations {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(217, 217, 217, 0.416);
}
 
@media(max-width: 991px) {
  .afrique-cards-container {
    justify-content: center;
  }
}
 
@media(max-width: 767px) {
  .afriqueafrique {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
}
