.lareunion-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.lareunion-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.lareunion-image {
  width: 200px;
  object-fit: cover;
}
 
.lareunion-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.lareunion-sibou-voyages1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.lareunion-sibou-voyages2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.lareunion-burger-menu1 {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.lareunion-burger-menu2 {
  width: 24px;
  height: 24px;
}
 
.lareunion-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.lareunion-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.lareunion-top {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.lareunion-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.lareunion-icon13 {
  width: 24px;
  height: 24px;
}
 
.lareunion-right-side {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.lareunion-links-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
 
.lareunion-text104 {
  margin-bottom: 8px;
}
 
.lareunion-text105 {
  margin-bottom: 8px;
}
 
.lareunion-text106 {
  margin-bottom: 8px;
}
 
.lareunion-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.lareunion-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.lareunion-link1 {
  display: contents;
}
 
.lareunion-icon15 {
  width: 24px;
  height: 24px;
}
 
.lareunion-link2 {
  display: contents;
}
 
.lareunion-icon17 {
  width: 24px;
  height: 24px;
}
 
.lareunion-link3 {
  display: contents;
}
 
.lareunion-icon19 {
  width: 24px;
  height: 24px;
}
 
.lareunion-text109 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text110 {
  font-size: 30px;
}
 
.lareunion-text111 {
  font-size: 30px;
}
 
.lareunion-text112 {
  font-size: 30px;
}
 
.lareunion-text113 {
  font-size: 30px;
}
 
.lareunion-text114 {
  font-size: 30px;
}
 
.lareunion-text134 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text135 {
  font-size: 30px;
}
 
.lareunion-text136 {
  font-size: 30px;
}
 
.lareunion-text137 {
  color: #d21414;
}
 
.lareunion-text138 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text139 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text140 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text141 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text142 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text143 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text144 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text145 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text146 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text147 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text148 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text149 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text150 {
  color: var(--dl-color-gray-black);
}
 
.lareunion-text151 {
  color: #d21414;
}
 
.lareunion-text152 {
  color: #d21414;
}
 
.lareunion-text154 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text155 {
  font-size: 30px;
}
 
.lareunion-text156 {
  font-size: 30px;
}
 
.lareunion-text157 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text158 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text159 {
  color: #d21414;
}
 
.lareunion-text160 {
  color: #d21414;
}
 
.lareunion-text161 {
  color: #d21414;
}
 
.lareunion-text162 {
  color: #d21414;
}
 
.lareunion-text163 {
  color: #d21414;
}
 
.lareunion-text164 {
  color: #d21414;
}
 
.lareunion-text165 {
  color: #d21414;
}
 
.lareunion-text166 {
  color: #d21414;
}
 
.lareunion-text167 {
  color: #d21414;
}
 
.lareunion-text168 {
  color: #d21414;
}
 
.lareunion-text170 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text171 {
  font-size: 30px;
}
 
.lareunion-text172 {
  font-size: 30px;
}
 
.lareunion-text173 {
  font-size: 30px;
}
 
.lareunion-text174 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text175 {
  color: #d21414;
}
 
.lareunion-text176 {
  color: #d21414;
}
 
.lareunion-text177 {
  color: #d21414;
}
 
.lareunion-text178 {
  color: #d21414;
}
 
.lareunion-text179 {
  color: #d21414;
}
 
.lareunion-text180 {
  color: #d21414;
}
 
.lareunion-text181 {
  color: #d21414;
}
 
.lareunion-text182 {
  color: #d21414;
}
 
.lareunion-text183 {
  color: #d21414;
}
 
.lareunion-text184 {
  color: #d21414;
}
 
.lareunion-text186 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text187 {
  font-size: 30px;
}
 
.lareunion-text188 {
  font-size: 30px;
}
 
.lareunion-text189 {
  font-size: 30px;
}
 
.lareunion-text190 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text191 {
  color: #d21414;
}
 
.lareunion-text192 {
  color: #d21414;
}
 
.lareunion-text193 {
  color: #d21414;
}
 
.lareunion-text194 {
  color: #d21414;
}
 
.lareunion-text195 {
  color: #d21414;
}
 
.lareunion-text196 {
  color: #d21414;
}
 
.lareunion-text197 {
  color: #d21414;
}
 
.lareunion-text198 {
  color: #d21414;
}
 
.lareunion-text199 {
  color: #d21414;
}
 
.lareunion-text200 {
  color: #d21414;
}
 
.lareunion-text202 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text203 {
  font-size: 30px;
}
 
.lareunion-text204 {
  font-size: 30px;
}
 
.lareunion-text205 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text206 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text207 {
  color: #d21414;
}
 
.lareunion-text208 {
  color: #d21414;
}
 
.lareunion-text209 {
  color: #d21414;
}
 
.lareunion-text210 {
  color: #d21414;
}
 
.lareunion-text211 {
  color: #d21414;
}
 
.lareunion-text212 {
  color: #d21414;
}
 
.lareunion-text213 {
  color: #d21414;
}
 
.lareunion-text214 {
  color: #d21414;
}
 
.lareunion-text215 {
  color: #d21414;
}
 
.lareunion-text216 {
  color: #d21414;
}
 
.lareunion-text218 {
  display: inline-block;
  font-size: 30px;
}
 
.lareunion-text219 {
  font-size: 30px;
}
 
.lareunion-text220 {
  font-size: 30px;
}
 
.lareunion-text221 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text222 {
  color: #d21414;
  font-size: 30px;
}
 
.lareunion-text223 {
  color: #d21414;
}
 
.lareunion-text224 {
  color: #d21414;
}
 
.lareunion-text225 {
  color: #d21414;
}
 
.lareunion-text226 {
  color: #d21414;
}
 
.lareunion-text227 {
  color: #d21414;
}
 
.lareunion-text228 {
  color: #d21414;
}
 
.lareunion-text229 {
  color: #d21414;
}
 
.lareunion-text230 {
  color: #d21414;
}
 
.lareunion-text231 {
  color: #d21414;
}
 
.lareunion-text232 {
  color: #d21414;
}
 
.lareunion-navlink1 {
  display: contents;
}
 
.lareunionrdv1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-doubleunit);
  text-decoration: none;
}
 
.lareunionrdv2 {
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
 
.lareunion-navlink2 {
  text-decoration: none;
}
 
@media(max-width: 1200px) {
  .lareunion-navbar {
    height: 145px;
  }
  .lareunion-container2 {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .lareunion-burger-menu1 {
    display: flex;
  }
  .lareunion-text108 {
    font-size: 2.5rem;
  }
}
 
@media(max-width: 479px) {
  .lareunion-text108 {
    font-size: 2rem;
    text-align: center;
  }
}
