.team1-max-width {
  gap: 80px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.team1-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.team1-content1 {
  gap: 24px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-content2 {
  gap: 96px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.team1-content3 {
  gap: 24px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
 
.team1-content4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
@media(max-width: 991px) {
  .team1-content2 {
    gap: 64px;
  }
}
